:host {
    display: block;
    width: 100%;
    height: 100%;
}

.pulse {
  animation: pulse-animation 2s infinite;
  transform-origin: center;
  stroke-linecap: round;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
